<%- include('layout/_head', { title: 'Главная' }) %>
<%- include('layout/_header') %>

<main>
    <div class="container">
        <div class="auto-snake">
            <div class="auto-snake__canvas">
                <canvas class="js-auto-snake"></canvas>
            </div>
        </div>
    </div>
</main>

<%- include('layout/_footer') %>
<%- include('layout/_foot.ejs') %>
